.sidebar-sticky {
  position: sticky;
  top: 55px;
  height: calc(100vh - 55px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav {
  .nav-item{
    border-bottom: 1px solid;
    a{
        font-size: 20px;
    }
  }
  &-link {
    color: #333;
    font-size: 16px;
    .oi {
        margin-right: 10px;
    }
  }
}
.box{
  display: flex;
  flex-wrap: wrap;
  .box-item{
    min-width: 210px;
    background: #bfe6ef;
    margin: 15px 15px 15px 15px;
    padding: 10px;
    border-radius: 3px;
  }
}
.sidebar{
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  // height: 100vh;
  background-image: linear-gradient(90deg, #ff8a00 0%, #ffc000 100%);
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  box-sizing: border-box;
  // margin-top: 30px;
  .dropdown {
    position: relative;
    display: block;
    padding: 15px 40px;
    transition: all 0.4s linear;
    a{
      display: block;
      width: 100px;
      color: #fff;
    }
    &:hover{
      padding: 15px 30px;
      border-left: 3px solid white;
      a{
        text-decoration: none;
        color: #000;
      }
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
}
.container-admin{
  margin: 20px 0 ;
}