@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;
$gray-medium-light: #eaeaea;
$sky: #2fa8ff;
$while: #fff;
// ---------------
body {
    padding-top: 60px;
}
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}
/*typography*/
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}
h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
}
// header
.navbar-inverse {
    background: $sky;
    #logo {
        float: left;
        margin-right: 10px;
        font-size: 1.7em;
        color: $while;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-top: 9px;
        font-weight: bold;
        &:hover {
            color: rgb(255, 40, 40);
            text-decoration: none;
        }
    }
    .navbar-nav li a {
        color: $while;
        &:hover {
            color: #333;
        }
    }
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 45px;
    padding: 10px;
    border-top: 1px solid #eaeaea;
    color: $while;
    background: $sky;
    height: 40px;
    small {
        float: left;
        a {
            color: rgb(253, 0, 0);
            text-decoration: none;
            &:hover {
                color: rgb(253, 0, 0);
                opacity: 0.8;
            }
        }
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
            a {
                color: $while;
                &:hover {
                    color: $while;
                    opacity: 0.8;
                }
            }
        }
    }
}
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
